.page__header {
    padding: 30px 0;
    margin: 0 -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .page__header {
        padding: 22px 0;
        margin: 0;
    }
}